* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Montserrat";
	font-size: 1.3rem;
	height: 200vh;
}

nav {
	padding: 10px;
	background-color: rgb(217, 217, 217);
}

.main-content {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 20px;
}

.content {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	padding: 20px;
	flex: 1;
}

.footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
}

/* Media Query 1: For tablets and smaller screens (768px and below) */
@media screen and (max-width: 768px) {
	.main-content {
		flex-direction: column; 

	.content {
		width: 100%; 
	}
}

/* Media Query 2: For mobile screens (480px and below) */
@media screen and (max-width: 480px) {
	.main-content {
		padding: 1px;
	}
	.content {
		padding: 5px;
	}
}
